header
    nav.bg-gray-800
        .max-w-7xl.mx-auto.px-4(class="sm:px-6 lg:px-8")
            .flex.items-center.justify-between.h-16
                .flex.items-center.justify-between.w-full
                    a.flex-shrinl-0.flex.items-center(href="/")
                        img.h-8.w-8(src="/images/logo.png" alt="Logo")
                        span.text-white.font-bold.text-lg.tracking-wide.pl-2 Shops!

                    .hidden(class="md:block")
                        .ml-10.flex.items-baseline.space-x-4.justyfi-end
                            a(href="/cart")
                                i.fas.fa-shopping-basket.text-2xl.text-white


