extends ./partials/layout

block content
    .container.m-0
        .h-screen.flex.items-center.justify-center.flex-col
            p.text-9xl.text-gray-600.font-bold.m-0.tracking-wide.leading-none.m-0 404
            h1.text-4xl.text-gray-600.font-bold.mt-8.mb-2.leading-none.tracking-wide Oops!!
            p.text-2xl.text-gray-600.tracking-wide Page Not Found...
            .mt-4
                a.text-gray-600.underline(href="/") Back to Home
