extends ./partials/layout

block content
    .container.my-0.mx-auto.h-full-container.flex.items-center.justify-center.flex-col
        div
            p.text-9xl.text-gray-600.font-bold.m-0.tracking-wide.leading-none.m-0.text-center 404
            h1.text-4xl.text-gray-600.font-bold.mt-8.mb-2.leading-none.tracking-wide.text-center Oops!!
            p.text-2xl.text-gray-600.tracking-wide.text-center Page Not Found...
            .mt-4.text-center
                a.text-gray-600.underline(href="/") Back to Home
