extends ../partials/layout-admin

block content
    .container.mx-auto
        .flex.justify-end.mt-4
            a.px-4.py-3.bg-indigo-600.text-white.font-bold.rounded(href="/admin/add-product")
                | Add Product
